.App {
  text-align: center;
}

.todo-header {
  color: #e5d3d5;
  font-size: 5em;
}

.my-input {
  width: 550px;
}
.my-list {
  width: 550px;
  height: 500px;
}

.my-list-group {
  max-height: 400px;
  overflow-y: scroll;
}
