.App {
  text-align: center;
}

.todo-header {
  color: #e5d3d5;
  font-size: 5em;
}

.my-input {
  width: 550px;
}
.my-list {
  width: 550px;
  height: 500px;
}

.my-list-group {
  max-height: 400px;
  overflow-y: scroll;
}

.alert-form-control:focus {
  border: solid;
  border-width: 1px;
  border-color: rgb(194, 98, 98);
}

.custom-btn {
  height: 42px;
  width: 40px;
  border: solid;
  border-color: #ced4da;
  border-width: 1px;
  background-color: white;
}
